<div class="w-full flex flex-col align-middle">
  <div class="flex justify-start items-center">
    <%= link_to "Back to all ToDo-s", todos_path, class: "font-medium text-lg text-gray-500 hover:underline" %>
  </div>
  <div class="mx-auto mt-10">
    <h1 class="font-bold text-4xl">New ToDo</h1>

    <%= render "form", todo: @todo %>
  </div>
</div>
